.list-and-map {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


.event-list {
    width: 50%;
    /* border: 1px dotted red; */
}

#event-list-header {
    text-align: center;
    font-weight: 750;
}

.google-map {
    width: 50%;
    height: 100%;
    /* border: 5px dotted rgb(0, 8, 255); */
    margin-right: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    height: 95vh;
}

.event-list-item {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 3px solid forestgreen;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.event-list :hover {
    background-color: beige;
}