.event-list-item {
    font-size: 25px;
  }

  .event-link {
    text-decoration: none;
    font-weight: 700;
  }

  .event-location {
    font-size: 15px;
    font-weight: 600;
  }

  .event-dates {
    font-size: 12px;
  }

  .link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: #88c659;
  }
  