.event-body {
    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 10px;
}

.event-info {
    width: 50%;
    height: 100%;
    border: 1px dotted red;
    padding: 1%;
}

.event-users {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    text-align: center;
}

.attendees {
    height: 40%;
    border: 1px dotted rgb(0, 8, 255);
}

.comments {
    height: 60%;
    border: 1px dotted rgb(0, 255, 115);
}

.days {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    border: 1px solid black;
}

.days li {
    border-right: 1px solid black;
    /* margin-left: 5px; */
    padding-right: 10px;
}

