.event-list-item {
    font-size: 25px;
    width: 75%;
    margin-top: 10px;
  }

.event-list-item:hover {
  background-color: rgb(227, 227, 227);
}

.event-link {
  text-decoration: none;
  font-weight: 700;
}

.event-location {
  text-align: right;
  font-size: 15px;
  font-weight: 600;
}

.event-location > * {
  margin-bottom: 0px;
}

.event-dates {
  display: flex;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: color 0.3s ease;
}

.link:hover {
  color: #88c659;
}
  
.borough-info-name {
  font-weight: 600;
  font-size: 17px;
}

#from-to {
  font-weight: 400;
  font-size: .9em;
}

.day-tag {
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: #88c659;
  color: azure;
  border-radius: 10px;
}

#street-closed {
  font-weight: 400;
  font-size: .5em;
  margin-bottom: 5px;
}