footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to left, white, #FDD34F, #88C659);
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    text-align: center;
}