.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    padding: 1%;
}

.logo {
    max-width: 200px;
    height: auto;
    display: flex;
    align-items: center;
  }

  .profile-button {
    position: absolute;
    right: 20px;
    top: 20px;
  }