.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    padding: 1%;
    height: 100px;
    /* background-color: #59b7c6; */
    /* background-image: linear-gradient(to right, white, #75625e); */
    /* background-image: linear-gradient(to right, white, #FDD34F, #88C659); */
}


.logo {
    max-width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

#hidden {
  opacity: 0;
}

.profile-button {
    /* position: absolute; */
    /* right: 20px;
    top: 20px; */
    margin-right: 2%;
    width: 250px;
}

.session-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.login, .signup, .logout {
  background-color: #88C659;
  padding: 6%;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  width: fit-content;
  height: auto;
}

.login:hover, .signup:hover, .logout:hover {
  background-color:#FDD34F ;
}

.logout {
  cursor: pointer;
}